title {
    font-family: Arial, Helvetica, sans-serif;
}
div {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
tr:nth-child(0) {
    background-color: #286aef;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
}
li {
    font-family: Arial, Helvetica, sans-serif;
}