* {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

tr:nth-child(1) {
    background-color: #286aef;
}
h4 {
    text-align: left;
}
table {
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid #000;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    text-align: center;
}

.column1 {
    width: 600px;
    height: 400px;
    text-align: left;
    color: blue;
}

.column2 {
    width: 600px;
    height: 400px;
    text-align: left;
    color: blue;
}